.colortheme {
    background-color: #353a40 !important;
}

.white-bg {
    background-color: white;
}

.text {
    text-align: left;
    color: black;
    font-size: smaller;
}

.navbar-container {
    width: 90% !important;
}

.green-link {
    color: green !important;
}

.title-oradores {
    text-align: center;
    color: black;
}

.name-oradores {
    text-align: left;
    color: black;
    font-size: 0.5em;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 0.9em;
    padding-bottom: 0%;
}

.container-oradores {
    display: flex;
    justify-content: center;
}

.button-oradores {
    padding: .05rem .1rem !important;
    font-weight: bold !important;
}

.oradores {
    width: 80%;
}

.border-oradores {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.padding-oradores {
    padding: 20px;
}


.placeholder-lg {
    font-size: x-large !important;
}

.enviar-button {
    background-color: #96c93e !important;
    font-size: x-large !important;
    border: 0px !important;
}

.form-container {
    width: 50% !important;
}

.footer-container {
    background-color: #1e5170 !important;
}

.footer {
    width: 80% !important;
}

.footer-list {
    align-items: center;
}

.footer-item {
    max-width: 12%;
}

.overlay {
    text-align: right;
    width: 40%;
    position: absolute !important;
    top: 50% !important;
    right: 5% !important;
    bottom: unset !important;
    left: unset !important;
    transform: translate(0, -50%);
}

.card-custom {
    border: none !important;
    border-radius: 0% !important;
}

.card-title-custom {
    font-size: 3em;
}

.card-text-custom {
    font-size: 1.25em;
}